$grey: #E5E5E5;
$grey2: #D7D7D7;
$grey3: #EBEBEB;
$grey-dark: #C3C3C3;
$grey-dark2: #B2B2B2;
$grey-dark3: #DDDDDD;
$grey-dark4: #F5F5F5;
$grey-dark5: #B9B9B9;
$dark: #707276;
$dark2: #202123;
$green1: #7FCE04;
$green2: #55BB06;
$light-blue1: #EAF0FA;
$orange1: #FF9900;
$blue1: #7284E4;
