.v-flight-way {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(#000, .15);
  display: flex;
  cursor: pointer;
  transition: box-shadow .2s;
  &--wrapper {
    margin-bottom: 15px;
  }
  &:hover {
    box-shadow: 0 6px 11px rgba(#000, .6);
  }
  &__left {
    border-radius: 4px 0 0 4px;
    flex-grow: 1;
    padding-left: 42px;
    padding-top: 40px;
    padding-bottom: 14px;
  }
  &__right {
    display: flex;
    border-radius: 0 4px 4px 0;
    overflow: hidden;
  }
}
